    section.grid-container{
        display: grid;
        width:100%;
        height:100%;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
        'nm nm nm nm nm nm nm nm nm nm nm nm nm nm'
        'nm nm nm nm nm nm nm nm nm nm nm nm nm nm'
        '. . . . . . . . . . . . . .'
        '. . . . . . . . . . . . . .'
        '. . . . . . . . . . . . . .'
        '. . . . . . . . . . . . . .'
        '. . . . . . . . . . . . . .'
        ;
        background-color: rgba(50,210,50,1);
        column-gap:0px;
        row-gap:0px;
        justify-content:center;
    }
    div{
        text-align:center;
        width: 1fr;
        height:1fr;
        align-content:center;
    }
    div.thatguy{
        grid-area: nm;
        grid-row-start:auto;
        grid-row-end:span 2;
    }
    div.t{
        height:1fr;
    }
    :empty{
        height:1fr;
        border-left:2px solid red;
        border-bottom:4px solid red;
        border-right:2px solid red;
    }
    div.r{
        height:1fr;
        font-size:200%;
        border: 4px solid black;
    }
    div.n{
        grid-column-start: auto;
        grid-column-end: span 2;
        font-size:400%;
        height:1fr;
        border: 4px solid black;
    }
    p.title{
        padding-top:15px;
        padding-bottom:20px;
        margin:auto;
        font-size:600%;
    }
    .t{ 
        grid-column-start: auto;
        grid-column-end: span 2;
    }