<style>
    h2{
    color:black;
    }
    p{
        display: inline-block;
        }
    .target-text{
        color: rgb(20,200,40);
        /* Default color */
        transition: color 0.3s;
    }

    .hover-trigger:hover + .target-text{
        color: black;
        /* Color when the first paragraph is hovered */
    }
    div{
        height: 175px;
        width: 175px;
        background-color: rgb(20,200,40);
        margin: 20px;
        padding:5px;
        border:2px solid black;
    }
    @keyframes Title {
        0% {
            color: white;
            font-size: 1em;
        }
        75% {
            font-size: 3em;
        }
        100% {
            color: rgb(20,200,40);
        }
    }
    div p.Title {
        margin:0px;
        padding:0px;
        font-size: 3em;
        font-weight: bold;
        animation-name: Title;
        animation-duration: 2s;
        animation-iteration-count: 3;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }
        div.Title{    
            width:100%;
        height: 75px;
        border: 0px solid white;
        background-color: white;
            }
}
</style>