<style>
    p{
        color: black;
        }
    img{
        border:2px solid black;
        width:40%;
        margin-left:30%;
        }
    h2.OMG{
        color:rgb(255,20,10);
        font-weight:bold;
        }
    p.caption{
        color:rgb(0,0,0);
        font-size:smaller;
        margin-left:25%;
        }
    body{
        background-color: rgba(0,150,255,0.8);
        margin:3%;
        }
    iframe{
        margin-left:25%;
        }
</style>