<style>
    body{
        background-color:rgba(0,150,255,0.9);
        }
    h1{
        color:rgb(240,200,160);
        }
    p{
        color:rgb(135,100,70);
        }
    img{
        border:2px solid black;
        }
</style>
    /*asdf;lakdsfj;aldskfjwhere do i save this?!*/